
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
}

#a_main{
    width:100%;
}

#a_nav{
    padding:20px 30px;
}

#span1{
    background-image:url('../assets/Form_1.jpeg');
    background-origin: center;
    background-size: cover;
    background-position: 0% 35%;
}
#span2{
    background-image:url('../assets/Dog.png');
    background-origin: center;
    background-size: cover;
    background-position: -20% 100%;
}
#span3{
    background-image:url('../assets/OtpImg.png');
    background-origin: center;
    background-size: cover;
    background-position: 0% 40%;
}

#vidBtn:hover #vid{
    opacity: 0;
}

#visit{
    animation: translation 2s ease-out infinite;
}

@keyframes translation{
    
    0%{
        transform:translateY(0%);
    }
    50%{
        transform:translateY(30%);
    }
    100%{
        transform:translateY(0%)
    }
}

.marqCon{
    animation-name: anime;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-direction:normal;
}
.marqSec::-webkit-scrollbar{
   display: none;
}

@keyframes anime {
    
    from{
        transform:translateX(0%)
    }
    to{
        transform:translateX(-100%)
    }
}